@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    Go to the link to create or modify the birthdays stuff:
        <a style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif" asp-area="" asp-page="/People/Index">Create new Birthdays</a>


</div>
